{% extends 'layout/admin.html' %}
{% block title %}
图片墙首页
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script>
//控制按钮样式
$(function(){
    $('.my_pic').removeClass('btn-warning');
    $('.my_pic').addClass('btn-danger');
    $('.test').on('click',function(){
        var pic_name = $('input[name="pic_name"]').val();
        var pic_intro = $('input[name="pic_intro"]').val();
        var pic_file= $('input[name="pic_file"]').val();
        alert(pic_name+'--'+pic_intro+'--'+pic_file)
    });
     $('.submit').on('click',function(){
        var pic_name = $('input[name="pic_name"]').val();
        var pic_intro = $('input[name="pic_intro"]').val();
        var pic_file= $('input[name="pic_file"]').val();
       if(pic_name  && pic_intro && pic_file){
           $('form').submit();
       }else{
           alert('所有栏目不能为空！')
           return false;
       }
    });
})
</script>
{% endblock %}

{% block button %}
<a href="pic_upload.html" class="btn btn-danger btn-xs">我要上传</a>
{% endblock %}

{% block body %}
    <p style="display:block;height:30px;"></p>
<form action="pic_upload_data.html"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">图集名称</span>
        <input type="text" name="pic_name" class="form-control" placeholder="请输入图集名称..." aria-describedby="sizing-addon2">
    </div>
     <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">图集封面</span>
        <input type="file" name="pic_file" class="form-control" placeholder="." aria-describedby="sizing-addon2">
    </div>
     <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">封面类型</span>
            &nbsp;&nbsp;&nbsp;<input type="radio" name="pic_kind"  aria-describedby="sizing-addon2" value="1" checked>宽图
           &nbsp;&nbsp;&nbsp;<input type="radio" name="pic_kind"  aria-describedby="sizing-addon2" value="2">方图
           &nbsp;&nbsp;&nbsp;<input type="radio" name="pic_kind"   aria-describedby="sizing-addon2" value="3">长图
    </div>
     <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">是否上线</span>
            &nbsp;&nbsp;&nbsp;<input type="radio" name="pic_use"  aria-describedby="sizing-addon2" value="1" checked>上线
           &nbsp;&nbsp;&nbsp;<input type="radio" name="pic_use"  aria-describedby="sizing-addon2" value="2">下线
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">图集简介</span>
        <input type="text" name="pic_intro" class="form-control" placeholder="请输入图集简介..." aria-describedby="sizing-addon2">
    </div>
    <br/>
    <div class="input-group text-center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger btn-xs submit">发布</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="my_admin" class="btn btn-warning btn-xs" >返回</a>
    </div>

</form>
    <p style="display:block;height:120px;"></p>
{% endblock %}
